nav {
    padding: 0px 25px;
    position: fixed;
    top: 0;
    width: 1260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}
nav h4 {
    color: rgba(255, 0, 0, 0.717);
}
nav h4::first-letter {
    font-size: 25px;
}
nav h3 {
    margin-left: 400px;
}
.genres {
    display: flex;
    gap: 30px;
    list-style: none;
}
a {
    color: white;
}
.user-nick {
    color: white;
    font-size: 18px;
}
.color-change {
    background-color: rgba(0, 0, 0, 0.982);
}
@media screen and (min-width: 481px) and (max-width:768px) { 
    nav {
        width: 100%;
        padding: 10px 10px;
        border: 1px solid white;
    }
    nav h4 {
        display: none;
    }
    .genres {
        gap: 10px;
        margin: 0;
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width:480px) {
    nav {
        width: 400px;
        padding: 0 0;
        border: 1px solid white;
    }
    nav h4 {
        display: none;
    }
    .genres {
        gap: 10px;
        margin: 0;
        padding: 10px;
        font-size: 13px;
    }
}